.breadcrumb-wrap {
  background: #F7F7F7;
  padding: 15px 0;
  border-bottom: 1px solid #EAEAEA;
}

.breadcrumb {
  display: block;
  //float: left;
  clear: both;
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  color: $blue-medium;
  font-size: 14px;

  &-separator {
    margin: 0 10px;
  }

  li {
    display: inline-block;
    color: #5A5A5A;
  }

  a {
    text-decoration: none;
    transition: all 300ms ease;

    &:hover {
      color: #002767 !important;
      border-bottom: 1px solid #002767;
    }
  }
}