body .inner .subnav {
  border: 1px solid #EAEAEA;

  ul {
    margin: 0;
    border: none;

    li {
      border-bottom: none;

      a {
        display: block;
        padding: 10px;
        border-top: 1px solid white;
        border-bottom: 1px solid #EAEAEA;
        color: #00539b;
        font-size: 14px;
        line-height: 1.42857;
      }
    }
  }

  ul.level-1-children {

    > li {
      a {
        display: none !important;
      }
    }

    li {
      &:hover {
        background: none;
      }

      &.current_page_sidemenu_item {
        background: none;

        a {
          font-weight: bold;

          &:before {
            font-family: 'FontAwesome';
            content: '\f0da';
            margin-right: 5px;
            margin-left: -11px;
          }
        }

        ul.child-pages {

          a {
            font-weight: normal;

            &:before {
              display: none;
            }
          }
        }
      }

      ul.child-pages {

        display: block;
        a {
          display: block !important;
        }
      }
    }
  }

  .level-1 {
    display: none;
  }

  .level-2 {
    &.current_page_sidemenu_item a:before {
      display: none;
    }

    &.current_page_top_parent {
      ul.level-3-children {
        display: block !important;
      }
    }

    ul.level-3-children,
    ul.level-4-children {
      background: #fff;
      display: none !important;

      a {
        border: none;
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }

    ul.level-3-children {
      padding-left: 10px;
    }

    ul.level-4-children {
      padding-left: 10px;
    }
  }

  .level-3 {
    a {
      color: #1273b4;
      font-weight: normal;
    }

    &.current_page_parent {
      > a {
        font-weight: bold;
      }

      ul.level-4-children {
        display: block !important;
      }
    }
  }

}