/*********************
PLACEHOLDERS
*********************/
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

/*********************
BREAKPOINTS
*********************/
$MQs: true;

@mixin bp($point) {
  @if ($MQs) {
    $bp-small: "(max-width: 480px)";
    $bp-medium: "(max-width: 768px)";
    $bp-large: "(min-width: 769px)";

    @if $point == small {
      @media #{$bp-small} {
        @content;
      }
    } @else if $point == medium {
      @media #{$bp-medium} {
        @content;
      }
    } @else if $point == large {
      @media #{$bp-large} {
        @content;
      }
    }
  }
}
